<ion-header>
  <ion-toolbar>
    <ion-title>
      Highcharts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts2" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts3" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>4.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts4" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
